.sidebar {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: $sidebar_width;
    z-index: 1000;

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        width: $sidebar_width_mini;
    }

    .sidebar-inner {
        position: relative;
        height: 100%;

        .sidebar-logo {
            border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
            border-right: 1px solid rgba(0, 0, 0, 0.0625);
            padding: 0 20px;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            height: $header_height;

            .sidebar-logo-mini {
                display: none;

                @media screen and (min-width: 992px) and (max-width: 1439px) {

                    display: block;
                }
            }

            @media screen and (min-width: 992px) and (max-width: 1439px) {
                padding: 0 5px;

                .sidebar-logo-none {
                    display: none;
                }
            }
        }

        .sidebar-menu {
            border-right: 1px solid rgba(0, 0, 0, 0.0625);
            height: calc(100vh - 40px);
            list-style: none;
            margin: 0;
            overflow: auto;
            padding: 0;
            position: relative;

        }
    }
}

.menu-sidebar {
    .menu-item {
        &>a {
            display: block;
            padding: 5px 8px;
        }

        .menu-sub {
            display: none;
        }

        &:hover {
            border-top: 1px solid #ccc;
        }

        &:hover>a:hover {
            background-color: antiquewhite;
            cursor: pointer;
        }

        &:not(.active):hover>.menu-sub {
            display: block;
            position: fixed;
            left: $sidebar_width;
            top: 0px;
            background-color: #ccc;
            border-radius: 0px 1px 1px 0px;
            padding-left: 0 !important;
        }

        &.active {
            background-color: #eec;
            border-top: 1px solid #ccc;
            &>.menu-sub {
                padding-left: 0 !important;
                display: block;
                position: relative;

                a {
                    padding-left: 23px;
                }
            }
        }

    }
}

.is-sidebar-mini {
    .sidebar {
        width: $sidebar_width_mini;

        .sidebar-logo {
            padding: 0 5px;

            .sidebar-logo-none {
                display: none;
            }

            .sidebar-logo-mini {
                display: block;
            }
        }
    }

    .menu-sidebar {
        &>.menu-item {
            &>a {
                text-align: center;

                span {
                    display: none;
                }
            }

            .menu-sub {
                display: none;
            }
            &:hover>.menu-sub {
                display: block;
                position: fixed;
                left: $sidebar_width_mini;
                top: 0px;
                background-color: #ccc;
                border-radius: 0px 1px 1px 0px;
                padding-left: 0 !important;
            }
        }
    }
}