@import 'sweetalert2/dist/sweetalert2.css';
.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-sub {
        padding-left: 15px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

// .modal-backdrop {
//     opacity: 0 !important;
//     visibility: hidden;

//     &:nth-last-child(1) {
//         visibility: visible;
//         opacity: var(--bs-backdrop-opacity) !important;
//     }
// }

.modal {
    z-index: var(--bs-backdrop-zindex) !important;

    &:nth-last-child(2) {
        z-index: var(--bs-modal-zindex) !important;
    }
}