#page-loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

#page-loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

#page-loader .spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu .menu-sub {
  padding-left: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}

.modal-backdrop {
  opacity: 0 !important;
  visibility: hidden;
}
.modal-backdrop:last-child {
  visibility: visible;
  opacity: var(--bs-backdrop-opacity) !important;
}
