.page-main {
  background-color: var(--bs-gray-100);
  min-height: 100vh;
}
.page-main .page-container {
  min-height: 100vh;
  padding-left: 180px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 700px) {
  .page-main .page-container {
    padding-left: 60px;
  }
}
.page-main .page-container .page-content {
  padding-top: 40px;
}

.is-sidebar-mini .page-container {
  padding-left: 60px;
}
@media screen and (max-width: 700px) {
  .is-sidebar-mini .page-container {
    padding-left: 180px;
  }
}

.sidebar {
  background-color: #fff;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  width: 180px;
  z-index: 99;
}
.sidebar .sidebar-inner {
  position: relative;
  height: 100%;
}
.sidebar .sidebar-inner .sidebar-logo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
  padding: 0 20px;
  transition: all 0.2s ease;
  height: 40px;
}
.sidebar .sidebar-inner .sidebar-logo .sidebar-logo-mini {
  display: none;
}
.sidebar .sidebar-inner .sidebar-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
  height: calc(100vh - 40px);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}
.sidebar .menu-sidebar .menu-item > a {
  display: block;
  padding: 5px 8px;
}
.sidebar .menu-sidebar .menu-item .menu-sub {
  display: none;
  position: fixed;
  left: 178px;
  background-color: rgb(238, 234, 229);
  border-radius: 0px 1px 1px 0px;
  padding-left: 0 !important;
}
.sidebar .menu-sidebar .menu-item:hover {
  border-top: 1px solid #ccc;
}
.sidebar .menu-sidebar .menu-item:hover > a:hover {
  background-color: rgb(217, 213, 207);
  cursor: pointer;
}
.sidebar .menu-sidebar .menu-item:hover > .menu-sub {
  display: block;
}
.sidebar .menu-sidebar .menu-item.active > a {
  background-color: rgb(207, 205, 203);
  border-top: 1px solid rgb(184, 181, 181);
  border-bottom: 1px solid rgb(184, 181, 181);
}
.sidebar .menu-sidebar .menu-item.active > .menu-sub {
  padding-left: 0 !important;
  left: unset;
  display: block;
  position: relative;
}
.sidebar .menu-sidebar .menu-item.active > .menu-sub a {
  padding-left: 23px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 60px;
  }
  .sidebar .sidebar-inner .sidebar-logo {
    padding: 0 5px;
  }
  .sidebar .sidebar-inner .sidebar-logo .sidebar-logo-none {
    display: none;
  }
  .sidebar .sidebar-inner .sidebar-logo .sidebar-logo-mini {
    display: block;
  }
  .sidebar .menu-sidebar > .menu-item > a {
    text-align: center;
  }
  .sidebar .menu-sidebar > .menu-item > a span {
    display: none;
  }
  .sidebar .menu-sidebar > .menu-item .menu-sub {
    display: none;
  }
  .sidebar .menu-sidebar > .menu-item.active > .menu-sub {
    display: none;
  }
  .sidebar .menu-sidebar > .menu-item:hover > .menu-sub {
    display: block;
    position: fixed;
    left: 58px;
  }
}

.is-sidebar-mini .sidebar {
  width: 60px;
}
.is-sidebar-mini .sidebar .sidebar-logo {
  padding: 0 5px;
}
.is-sidebar-mini .sidebar .sidebar-logo .sidebar-logo-none {
  display: none;
}
.is-sidebar-mini .sidebar .sidebar-logo .sidebar-logo-mini {
  display: block;
}
.is-sidebar-mini .sidebar .menu-sidebar > .menu-item > a {
  text-align: center;
}
.is-sidebar-mini .sidebar .menu-sidebar > .menu-item > a span {
  display: none;
}
.is-sidebar-mini .sidebar .menu-sidebar > .menu-item .menu-sub {
  display: none;
  position: fixed;
  left: 58px;
}
.is-sidebar-mini .sidebar .menu-sidebar > .menu-item:hover > .menu-sub {
  display: block;
}
@media screen and (max-width: 700px) {
  .is-sidebar-mini .sidebar {
    width: 180px;
  }
  .is-sidebar-mini .sidebar .sidebar-inner .sidebar-logo {
    padding: 0 20px;
  }
  .is-sidebar-mini .sidebar .sidebar-inner .sidebar-logo .sidebar-logo-none {
    display: block;
  }
  .is-sidebar-mini .sidebar .sidebar-inner .sidebar-logo .sidebar-logo-mini {
    display: none;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item > a {
    text-align: left;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item > a span {
    display: inline;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item .menu-sub {
    display: none;
    position: fixed;
    left: 178px;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item:hover > .menu-sub {
    display: block;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item.active > a {
    background-color: rgb(234, 234, 231);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item.active > .menu-sub {
    padding-left: 0 !important;
    left: unset;
    display: block;
    position: relative;
  }
  .is-sidebar-mini .sidebar .menu-sidebar > .menu-item.active > .menu-sub a {
    padding-left: 23px;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  height: 40px;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  transition: all 0.2s ease;
  width: calc(100% - 180px);
  z-index: 800;
}
@media screen and (max-width: 700px) {
  .header {
    width: calc(100% - 60px);
  }
}
.header .header-container {
  height: 100%;
}
.header .header-container .nav-left,
.header .header-container .nav-right {
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}
.header .header-container .nav-left li,
.header .header-container .nav-right li {
  float: left;
}
.header .header-container .nav-left {
  float: left;
  margin-left: 15px;
}
.header .header-container .nav-right {
  float: right;
}

.is-sidebar-mini .header {
  width: calc(100% - 60px);
}
@media screen and (max-width: 700px) {
  .is-sidebar-mini .header {
    width: calc(100% - 180px);
  }
}

.manager-table {
  padding: 10px;
}

.modal-content {
  border-radius: 3px;
}
.modal-content .modal-header,
.modal-content .modal-footer {
  padding: 6px 12px;
}
.modal-content .modal-body {
  padding: 1px;
}

.btn {
  border-radius: 3px;
}
